@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body {
    margin: 0;
    background-color: #ffffff  ;
    min-width: 820px;
}

a {
    display: flex;
    text-decoration: none;
    color:  #fbfcfc;
}

div {
    display: flex;
}

span {
    text-align: center;
}

ul {
    padding-inline-start: 0;
}

/*.....................................................*/
/*Body*/

.bodywrapper {
    flex-direction: row;
    width: 100%;
}

/*Barre de navigation latéral*/
.bodywrapper .sidebar {
    flex-direction: column;
    position: fixed;
    margin-top: 124px;
    font-family: 'Cinzel', serif;
    width: 360px;
    height: 100%;
    border-top: 2px solid #fff; 
    background-color: #445c88;
}

.bodywrapper .sidebar .menu {
    flex-direction: column;
}

.bodywrapper .sidebar .menu h2 {
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 32.5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.bodywrapper .sidebar .menu ul li {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-top: 2px solid rgba(225,225,225,0.1);
    font-size: 24px;
    list-style-type: none;
}

.bodywrapper .sidebar .menu ul li:hover {
    background-color: #1c2a58;
}

.bodywrapper .sidebar .menu a {
    padding: 15px;
    padding-left: 30px;
    color: rgb(221, 221, 221);
    display: block;
}

.bodywrapper .sidebar .menu a:hover {
    color: #fff;
}

.bodywrapper .sidebar .footer {
    color: rgb(191, 191, 192);
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    margin-top: 500px;
}

/*Contenu de la page*/
.bodywrapper .contentwrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 360px;
}

.bodywrapper .contentwrapper .contenttitle {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: -15px;
}

.bodywrapper .contentwrapper .content {
    font-family: 'OutfitL', sans-serif;
    font-size: 20px;
    text-align: left;
    padding: 10%;
    padding-top: 28px;
    flex-direction: column;
    align-items: center;
}

