@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');

body {
    margin: 0;
    background-color: #ffffff  ;
    min-width: 820px;
}

a {
    display: flex;
    text-decoration: none;
    color:  #fbfcfc;
}

div {
    display: flex;
}

span {
    text-align: center;
}

/*.....................................................*/
/*Contenu de la page*/

.contentwrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 125px;
}

.contentwrapper .contenttitle {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 30px;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    text-align: center;
}
/*
@media only screen and (max-width: 1150px) {
    .contentwrapper .contenttitle {
      width: 550px;
    }
}*/

.contentwrapper .content {
    font-family: 'OutfitL', sans-serif;
    font-size: 20px;
    text-align: justify;
    flex-direction: column;
    align-items: center;
    padding : 10%;
    padding-top: 15px;
    margin-top: 8px;
}

.contentwrapper .content p {
    margin-top: 35px;
    margin-bottom: 50px;
}

.contentwrapper .content .return_button {
    padding: 10px;
    font-family: 'OutfitL', sans-serif;
    font-size: 16px;
}

/*.....................................................*/
/*Pied de page*/

.footerwrapper{
    position: relative;
    bottom: 0;
}

.footer{
    height: 100px;
    width: 100%;
    position : absolute;
    color:  #fbfcfc;
    background-color: #252221;
    justify-content: center;
    align-items: center; 
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}